

a {
   display: inline-block;
   padding: 0 3px;
   text-decoration: none;
   color: black;
}

.text-center{
   text-align: center;
}

.error-message {
   display: inline-block;
   border: solid;
   padding: 0 5px;
   text-align: center;
   background-color: rgb(206, 4, 4);
   color: white;
}

.active {
   background-color: blue;
   color: white;
   border-radius: 5px;
}

.blogs {
   border: 1px solid black;
}