{{template "base" .}}

{{define "title"}}
   <title>Weblog - Acerca</title>
{{end}}
{{define "content"}}
   <h1 class="text-center">Sobre nuestro blog</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias rem explicabo dolores, nemo in distinctio similique dolorum? Qui voluptates quaerat fuga eos dolorem, repellat minima quod asperiores. Iste, sapiente.</p>
   <img src="/static/img/paisaje.jpg" alt="paisaje">
{{end}}