{{template "base" .}}

{{define "title"}}
   <title>Weblog - Blog</title>
{{end}}
{{define "content"}}
   <h1 class="text-center">Blog</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum recusandae laudantium quod fugit? Molestias cupiditate enim, nam doloremque, aperiam ipsam voluptatem odit ab omnis eligendi unde distinctio! Expedita, et repellendus!</p>
{{end}}