{{template "base" .}}

{{define "title"}}
   <title>Weblog - Inicio</title>
{{end}}
{{define "content"}}
   <h1 class="text-center">Bienvenidos a Weblog</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ad assumenda blanditiis voluptatibus aliquid dolorem, totam suscipit architecto nesciunt? Amet laboriosam quod dolore numquam quae accusamus! Facere eos a nostrum.</p>
{{end}}